
.item {
    position: relative;
    background: $main-color;
    overflow: hidden;

    &::after {
        content:'';
        position: absolute;
        display: block;
        background-color: inherit;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
        transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    }

    //    Bring In main color Overlay 

    &:hover:after {
        transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    }
}